# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.next/
frontend/node_modules/
frontend/.next/
frontend/.env.local

# IDE
.idea/
.vscode/
*.swp

# Custom
poc/bjy/old/

# 구글 스트리밍 json
**/daisoproject-sst.json
poc/lsy/outputs/streaming_audio/**
outputs/streaming_audio/**